<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="application/javascript">
        (function() {
            angular.module('myApp', [])

                .controller('myController', ['$scope', function ($scope) {

                    $scope.isBalanced = function (input) {
                        //TODO: check if the parenthesis in the input is balanced
                    };

                    $scope.getDeepestLevel = function (input) {
                        //TODO: get the contents within the deepest level of parenthesis and display the level of nesting
                        // {[(4 + 4) * 2] * (3 + 8)} + 7 should return 4 + 4 and display that it is 3 layers deep
                        // if there is a tie return the contents of the first leftmost one
                    };

                    $scope.getAnswer = function (input) {
                        //TODO: display the result of evaluating the input as a math expression
                        //hint: you can use eval()
                    };


                }]);
        })();
    </script>
</head>
<body>
<div ng-app="myApp" ng-controller="myController">
    <div>Implement the functions for each of the 3 buttons and display the metrics on the screen each time the corresponding button is clicked, fix any bugs along the way</div>
    <br/>
    <input placeholder="Input an equation" ng-model="input">
    <table>
        <tbody>
        <tr><td><div>The parenthesis are balanced: {{isBalanced}}</div></td><td><button ng-click="isBalanced = isBalanced(input)">Check balance</button></td></tr>
        <tr><td><div>The deepest level is: {{deepestLevel}}</div></td><td><button ng-click="deepestLevel = deepestLevel(input)">Get depth</button></td></tr>
        <tr><td><div>The answer is: {{answer}}</div></td><td> <button ng-click="answer = getAnswer(input)">Display levels</button></td></tr>
        </tbody>
    </table>
    <br/>
    <div>Extra credit: Uncomment the following line and implement logic that hides the other three buttons and causes the metrics to automatically update as the user types</div>
    <!--<div>Live update: <input type="checkbox" ng-model="isLiveUpdate"></div>-->
    <div>Extra credit: The getAnswer function should only work for basic math equations</div>
</div>
</body>

